@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  scroll-behavior: smooth;
  font-family: "Inter", sans-serif;
}


button {
  @apply rounded-xl uppercase bg-gradient-to-r from-[#048f1a] to-[#64ac6d] text-white
}

.carousel-container {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    /* Your other styles */
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  .animate-fade-in {
    animation: fadeIn 1s ease-in-out;
  }
  